/*MAIN*/
$base-color: rgb(34, 34, 34);
$accent-color: rgb(255, 149, 174);

html {
  font-size: 62.5%;
}

body {
  font-family: 'Press Start 2P', cursive;
  color: $base-color;
  min-height: 100vh;
  display: grid;
  align-items: center;
  justify-items: center;
  background-color: #dfd9d9;
}

canvas {
  border: 15px solid $accent-color;
  border-radius: 25px;
  /*set width and heigh tto half the size of canvas size so it doesnt look pixelated*/
  width: 800px;
  height: 500px;
  background: white;
}

h1 {
  // font-family: 'Bungee Shade', cursive;
  font-family: 'Press Start 2P', cursive;
  color: $base-color;
  font-size: 5rem;
  text-transform: uppercase;
  text-align: center;
}

button {
  background-color: $accent-color;
  font-size: 3rem;
  color: $base-color;
  text-transform: uppercase;
  border: 2px dashed $base-color;
  padding: 20px 30px;
  border-radius: 25px;

  &:hover,
  &:focus {
    color: $accent-color;
    background-color: $base-color;
    border: 2px dashed $accent-color;
    transition: all 0.5s ease;
  }
}

canvas.shake {
  animation: shake 0.5s linear 1;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
